.first-div{
background-color: rgb(110, 159, 187);
border: 2px solid  rgb(41, 110, 119);
width: fit-content;
position: absolute; 
padding:10px ;
left: 0; 
right: 0; 
top:30%;
margin-left: auto; 
margin-right: auto;
text-align: left;
}
.footer{
    position: absolute;
    width: 100%;
    background-color: rgb(255, 255, 255);
    bottom: 0%;
}

